body {
    font-family: 'Saira', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgb(52, 52, 53);
    margin: 0;
    padding-top: 120px;
    background-image: url('../img/background_image_circuits_board.jpg');
    background-attachment: fixed;
}

header {
    height: 100px;
    background-image: linear-gradient(90deg, #000000 10%, #bababa, #e0dfdf);
    border-bottom: 2px solid #1ae2fc;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.page-header__item {
    margin-top: 26px;
}

.nameButton {
    background-image: linear-gradient(90deg, #000000 40%, #373737, #757575);
    border-radius: 7px;
    border: 2px solid #1ae2fc;
    padding: 15px;
    margin: 8px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    font-size: inherit;
    color: white;
    font-family: inherit;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.35);
    transition-duration: 0.5s;
}

.nameButton:hover {
    opacity: 0.8;
    color: #1ae2fc;
}

ul {
    list-style-type: none;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999; 

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 

  /* this is used to center the modal */
  display: grid;
  place-items: center;
  text-align: center;
}

.modal-close {
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #ffffff;
  text-decoration: underline;
  font-size: large;
}

.modal {
    background-image: linear-gradient(180deg, #c60202 20%, #ffffff, #ffffff);
    width: 650px;
    height: 650px;
    position: fixed;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 50%;
}

.modal h1 {
    color: #ffffff;
}

@media (max-width: 768px) {
    .page-header {
        display: flex;
        flex-direction: row;
    }
    
    .page-header__item {
        margin: auto;
    }

    .container {
        text-align: center;
    }

    .nameButton {
        margin: 15px auto;
        width: 80%;
        display: block;
    }

    #modal-container.is-visible {
        display: grid;
        place-items: center;
        padding: 20px 0 20px;
    }

    .modal {
    width: 80vw;
    max-height: 80vh;
    border-radius: 10px; 
    padding: 10px 10px 40px;
    box-sizing:border-box;
    }

    .modal img {
    max-width: 80%;
    height: auto;
    }

    .modal p {
    flex-shrink: 1;      /* allow paragraphs to shrink if needed */
    overflow-wrap: break-word;
    margin: 0 0 10px 0;
    }

}